<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/TablaEstilos.css" rel="stylesheet" />
    <script src="../Scripts/CreateTable.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title></title>
</head>
<body>
    <!--Cabecera de la pagina-->
    <header>
        <div class=" cajitaTitulo">
            PersonasList
        </div>
    </header>
    <div class="divDeTabla" id="divDeTabla">
    </div>


    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h4>¿Estas seguro de que quieres borrarla?</h4>
                <input id="si" value="Aceptar" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                <input id="no" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Cancelar" type="button" />
            </div>
        </div>
    </div>

    <div id="myModalEditar" class="modalEditar">
        <div class="modal-contentEditar">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h4>Ventana Editar</h4>

                <form action="/action_page.php">
                    <label for="Nombre">Nombre: </label>
                    <input type="text" id="Nombre" /><br />

                    <label for="Apellidos">Apellidos: </label>
                    <input type="text" id="Apellidos"/><br />

                    <label for="Telefono">Telefono: </label>
                    <input type="text" id="Telefono"/><br />

                    <label for="Direccion">Direccion: </label>
                    <input type="text" id="Direccion"/><br />

                    <label for="Departamento">Departamento: </label>
                    <input type="text" id="Departamento"/><br />

                      <div style="margin-top:10px">
                          <input type="submit" value="Editar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                          <input id="no" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Cancelar" type="button" />
                      </div>
                </form>

               
               
            </div>
        </div>
    </div>

</body>
</html>