
.modal-header {

    margin:8px;
}

table th {
    text-align: center;
}

table tr {
    text-align: center;
   
}

table td {
    text-align: center;
    font-size: 15px;
    text-align: center;

}

.cajitaTitulo {

    text-align: center;
    padding-top: 30px;
    border: 1px solid black;
    font-size: 60px;
    background-color: aliceblue;
    width: auto;
    height: 100px;
}

h2 {
    text-align: center;
}



body {

    font-family: Arial, Helvetica, sans-serif;
   
}

/* The Modal (background) */
.modal, .modalEditar {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: whitesmoke; /* Fallback color */
    background-color: whitesmoke; /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-contentEditar {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    border: 2px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {

    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {

    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
