
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <ul>

            <li>Hola</li>
            <li>Ere</li>
            <li>El mejo</li>
            <li>Dela vida</li>
            <li>porque tu</li>
            <li>eres</li>
            <li>miZó</li>

        </ul>
    </div>
</body>
</html>
